<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript">
	$(function(){
		
		//게시글 삭제
		$("#deleteBtn").click(function(e){
			e.preventDefault();
			var board_no = $("#board_no").text();
			if(confirm("게시글을 삭제하시겠습니까?")){
				location.href = "/board/delete/" + board_no;
			}
		});
	});
</script>
</head>
<body>
	<h1>Detail</h1>
	글번호: <span id="board_no" th:text="${detail.board_no}"></span><br>
	글제목: <span th:text="${detail.title}"></span><br>
	작성자: <span th:text="${detail.writer}"></span><br>
	작성일: <span th:text="${detail.regdate}"></span><br>
	조회수: <span th:text="${detail.hit}"></span><br>
	내용:<br>
	<span th:text="${detail.content}"></span>
	<hr>
	
	첨부파일: <span th:text="${detail.fname}"></span><br>
	<div th:if="${detail.fname} != null">
		<div th:if="${#strings.endsWith(detail.fname, '.jpg')} 
		or ${#strings.endsWith(detail.fname, '.png')} 
		or ${#strings.endsWith(detail.fname, '.gif')}">
			<img alt="" th:src="@{'/images/'+${detail.fname}}" width="300" height="300">
		</div>
		<div th:unless="${#strings.endsWith(detail.fname, '.jpg')} 
		or ${#strings.endsWith(detail.fname, '.png')} 
		or ${#strings.endsWith(detail.fname, '.gif')}">
			<a th:href="@{'/images/'+${detail.fname}}" th:text=${detail.fname}></a>
		</div>
	</div>
	
	<hr>
	<a th:text="수정" th:href="@{'/board/update/'+${detail.board_no}}"></a>
	<button id="deleteBtn">삭제</button>
	<a th:text="삭제" th:href="@{'/board/delete/'+${detail.board_no}}"></a>
	<a th:text="글목록" href="/board/list/1"></a>
</body>
</html>