<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
	<h1>Insert</h1>
	<form action="/board/save" method="post" enctype="multipart/form-data">
		<div class="mb-3">
		  <label for="title" class="form-label">제목</label>
		  <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요">
		</div>
		
		<div class="mb-3">
		  <label for="writer" class="form-label">작성자</label>
		  <input type="text" class="form-control" id="writer" name="writer" placeholder="">
		</div>
		
		<div class="mb-3">
		  <label for="content" class="form-label">내용</label>
		  <textarea class="form-control" id="content" name="content" rows="3"></textarea>
		</div>
	
		제목 <input type="text" name="title"><br>
		작성자 <input type="text" name="writer"><br>
		내용<br>
		<textarea rows="20" cols="100" name="content"></textarea><br>
		첨부파일
		<input type="file" name="uploadFile">
		<input type="submit" value="등록">
		<input type="reset" value="취소">
	</form>
</body>
</html>