<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->
	<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link href="/css/board.css" rel="stylesheet" type="text/css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</head>
<body>
	<h1>Insert</h1>
	
		<form action="/board/save" method="post" enctype="multipart/form-data">
			<div class="mb-3">
			  <label for="title" class="form-label">제목</label>
			  <input type="text" class="form-control" id="title" name="title">
			</div>
			
			<div class="mb-3">
			  <label for="writer" class="form-label">작성자</label>
			  <input type="text" class="form-control" id="writer" name="writer" th:value="${#authentication.name}">
			</div>
			
			<div class="mb-3">
			  <label for="content" class="form-label">내용</label>
			  <textarea class="form-control" id="content" name="content" rows="10"></textarea>
			</div>
		
			<div class="mb-3">
			  <label for="uploadFile" class="form-label">첨부파일</label>
			  <input class="form-control" type="file" id="uploadFile" name="uploadFile">
			</div>
		
			<div class="d-flex flex-row mb-3 justify-content-center align-items-center">
				<button type="submit" class="btn btn-primary">등록</button>
				<button type="reset" class="btn btn-primary">취소</button>
			</div>
		</form>
</body>
</html>