<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link href="/css/board.css" rel="stylesheet" type="text/css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#searchBox").submit(function(e){
				e.preventDefault();
				var searchColumn = $("#searchColumn").val();
				var keyword = $("#keyword").val();
				
				sessionStorage.setItem("searchColumn", searchColumn);
				sessionStorage.setItem("keyword", keyword);
				
				console.log("submit");
				$(this).unbind('submit').click();
			});
			
			$("#list-headline").click(function(e){
				e.preventDefault;
				sessionStorage.removeItem("searchColumn");
				sessionStorage.removeItem("keyword");
				console.log("click");
				$(this).unbind('click').click();
				location.href = "/board/list/1?searchReset=Y"
			});
		});
	</script>
</head>
<body>
	<h1 id="list-headline" style="cursor: pointer;">List</h1>
	<br>
	<div style="margin-bottom: 5%;">
		<a class="btn btn-primary" href="/signup" style="float: right;">회원가입</a>
		<a class="btn btn-primary" href="/login" style="float: right;">로그인</a>
	</div>

	<!-- 검색박스 -->
	<div>
		<form action="/board/list/1" method="get" id="searchBox">
		  	<select class="form-select" aria-label="Default select example" name="searchColumn" id="searchColumn" style="display: inline-block; width: 10%;">
			  <option selected="selected" value="title">제목</option>
			  <option value="content">내용</option>
			  <option value="writer">작성자</option>
			</select>
		
			<div class="mb-3" style="width: 80%; display: inline-block;">
			  <input type="text" class="form-control" id="keyword" name="keyword" placeholder="검색어를 입력하세요">
			</div>
			  
			<button type="submit" class="btn btn-primary">검색</button>
		</form>
	</div>
	
	<br>
	<a class="btn btn-primary" href="/board/insert" style="float: right;">글쓰기</a>

	<table border="1" style="width: 100%; clear: both; position: relative;">
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>날짜</th>
				<th>조회수</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="board:${list}">
				<td th:text="${board.board_no}"></td>
				<td>
					<a th:text="${board.title}" th:href="@{'/board/detail/'+${board.board_no}}"></a>
				</td>
				<td th:text="${board.writer}"></td>
				<td th:text="${board.regdate}"></td>
				<td th:text="${board.hit}"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<nav aria-label="Page navigation example" style="position: absolute; left: 50%; transform: translateX(-50%);">
	  <ul class="pagination">
	    <li class="page-item">
	      <a class="page-link" href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    
		<th:block th:each="i:${#numbers.sequence(1, totalPage)}">
			<li class="page-item">
				<a class="page-link" th:href="@{'/board/list/'+${i}}" th:text="${i}"></a>
			</li>
		</th:block>
		
	    <li class="page-item">
	      <a class="page-link" href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>

</body>
</html>