<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>List</h1>
	<table border="1" width="800">
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>날짜</th>
				<th>조회수</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="board:${list}">
				<td th:text="${board.board_no}"></td>
				<td th:text="${board.title}"></td>
				<td th:text="${board.writer}"></td>
				<td th:text="${board.regdate}"></td>
				<td th:text="${board.hit}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>