<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
  <select id="findAll" resultType="boardVO">
	select board_no, title, writer, regdate, hit from
	(select A.*, rownum n from (select * from board 
	<if test="keyword != null and keyword != ''">
		where ${searchColumn} like '%' || #{keyword} || '%'
	</if>
	order by regdate desc) A)
	where n between #{start} and #{end}
  </select>
  
  <select id="getTotalRecord" resultType="java.lang.Integer">
  	select count(*) from board
  	<if test="keyword != null and keyword != ''">
		where ${searchColumn} like '%' || #{keyword} || '%'
	</if>
  </select>
</mapper>